
@model _5Semester.Models.User
@{
    ViewData["Title"] = "PasswordRecoveryPage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <form asp-action="PasswordRecoveryBtn">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input type="email" asp-for="Email" name="user" required="" pattern="[A-Za-z0-9]{1,14}" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary"/>
        </div>
    </form>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}